{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
          <div class="media-body">
           
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <h5 class="article-content">Technologies: {{ post.technologies }}</h5>
            <p class="article-content">{{ post.content }}</p>

<div align="center" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<!--add for loop for all images in post.images-->
  <div align="center" class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg"
        alt="Img1">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br> 

            <a class="btn btn-primary" href="mailto:{{post.author.email}}?Subject=[DevLink]%20Request%20to%20join%20{{post.title}}" target="_top">Request to join</a>          
            </div>
          
           <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username, page=page_num) }}"">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%m-%d-%Y') }}</small>
            </div>
        </article>
        
    {% endfor %}
   {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}