{% extends "layout.html" %}
{% block content %}
<h1>Project Details</h1>
        <article class="media content-section">
          <div class="media-body">
            <h2 class="article-title">{{ post.title }}</h2>
            <h4 class="article-content">Technologies: {{ post.technologies }}</h4>
            <h5 class="article-content">Description: {{ post.content }}</h5>
            <br>
            <!--allow one image for now-->
            <img class="d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="{{post.title}}">
              
            <br> 
             <h5 class="article-content">Collaborators: {{ post.collaborators }}</h5>
             <br>
            <a class="btn btn-primary" href="mailto:{{post.author.email}}?Subject=[DevLink]%20Request%20to%20join%20{{post.title}}" target="_top">Request to join</a>          
            <br><br>
          </div>
            
             <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%m-%d-%Y') }}</small>
          </div>
          
        </article>
         {% if post.author == current_user %}
                <div>
                    <a class="btn btn-secondary btn-sm" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
              {% endif %}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
      </div>
    </div>
  </div>
</div>
{% endblock content %}